In [3]:
import pandas as pd

def save_data(coin, candle, regime, start_date, end_date, return_data=False):
    df = pd.read_csv(f'{coin}_{candle}.csv', index_col=0, parse_dates=[0])
    df.drop(columns=['market'], inplace=True)
    df.columns = ['open', 'high', 'low', 'close', 'volume']
    
    df = df.loc[start_date:end_date]
    df.reset_index(inplace=True)
    df.rename(columns={'index': 'datetime'}, inplace=True)
    
    df.to_csv(f'{coin}_{candle}_{regime}.csv', index=False)
    if return_data:
        return df

In [4]:
save_data('btc', 'minute15', 'bull', '2024-11-05 09:00:00', '2025-01-20 09:00:00')
save_data('btc', 'minute15', 'bear', '2025-01-21 09:00:00', '2025-04-08 09:00:00')
save_data('btc', 'minute15', 'total', '2024-11-05 09:00:00', '2025-04-08 09:00:00')

In [ ]:
save_data('btc', 'day', 'bulls', '2024-01-01 09:00:00', '2025-05-09 09:00:00')

In [ ]:
save_data('btc', 'minute15', 'bulls', '2024-01-01 09:00:00', '2025-05-08 00:00:00')

In [8]:
import pyupbit

# 비트코인 월간 캔들 데이터 조회
df = pyupbit.get_ohlcv("KRW-BTC", interval="month")

    
df = df.loc['2023-01-01 09:00:00': '2025-05-09 09:00:00']
df.drop("value", axis=1, inplace=True)
df.reset_index(inplace=True)
df.columns = ['datetime','open', 'high', 'low', 'close', 'volume']

df.to_csv('btc_month.csv', index=False)

In [7]:
df

,datetime,open,high,low,close,volume
0,2024-01-01 09:00:00,57045000.0,66779000.0,53125000.0,58738000.0,183681.118051
1,2024-02-01 09:00:00,58730000.0,90000000.0,57804000.0,85910000.0,153573.692890
2,2024-03-01 09:00:00,85911000.0,105000000.0,85000000.0,100970000.0,255891.189814
3,2024-04-01 09:00:00,100991000.0,103084000.0,85606000.0,87137000.0,138762.314692
4,2024-05-01 09:00:00,87152000.0,98150000.0,80005000.0,94505000.0,111542.750247
5,2024-06-01 09:00:00,94504000.0,99650000.0,83101000.0,87920000.0,65805.518580
6,2024-07-01 09:00:00,87920000.0,97100000.0,77335000.0,90345000.0,109012.661367
7,2024-08-01 09:00:00,90346000.0,92300000.0,72100000.0,80262000.0,127655.708848
8,2024-09-01 09:00:00,80300000.0,87410000.0,72200000.0,83730000.0,77160.883375
9,2024-10-01 09:00:00,83730000.0,102158000.0,80635000.0,98112000.0,79136.306645
10,2024-11-01 09:00:00,98112000.0,138770000.0,93083000.0,133701000.0,192317.138244
11,2024-12-01 09:00:00,133722000.0,157198000.0,88266000.0,139257000.0,168563.587788
12,2025-01-01 09:00:00,139394000.0,163325000.0,137500000.0,156580000.0,101864.580472
13,2025-02-01 09:00:00,156580000.0,160304000.0,116504000.0,124499000.0,78380.279930
14,2025-03-01 09:00:00,124499000.0,143708000.0,114763000.0,123209000.0,86032.995968
15,2025-04-01 09:00:00,123209000.0,137869000.0,111659000.0,136050000.0,58626.115091
16,2025-05-01 09:00:00,136148000.0,146495000.0,132900000.0,145423000.0,16399.031026